header{
    background-color: #eae6dd;
    

}

.navbar item {
    text-align: center;
}

.button {
    color: beige;
    }


footer{
    background-color: #eae6dd;

}

@media screen and (max-width:768px) {
.laura { display: none;

}  
}
